#!/usr/bin/env rc

<$1 \
	9 awk '
		/Time/ {gsub(/Time: +| */, "", $0);  t = $0}
		/Distance/ {gsub(/Distance: +| */, "", $0); d = $0}
		END{
			result = 1

			printf("time=%d\n", t)
			printf("distance=%d\n", d)

			b = t
			c = -d
			a = -1

			z0 = (-b - sqrt(b**2 - 4*a*c) ) / (2*a)
			z1 = (-b + sqrt(b**2 - 4*a*c) ) / (2*a)

			if (z1 < z0) { tmp = z1; z1 = z0; z0 = tmp}				

			printf("z0=%f z1=%f\n", z0, z1)

			z0 = int(z0 + 0.9)
			z1 = int(z1)
			if ((b-z1)*z1 <= distance[i]) { z1--}
			if ((b-z0)*z0 <= distance[i]) { z0++}
			printf("t0=%d t1=%d\n",z0, z1)
			printf("d0=%d d1=%d\n", (b-z0)*z0 ,(b-z1)*z1 )
			printf("diff=%d\n", z1 - z0 + 1)
			
			result *=  z1 - z0 + 1
					
			printf ("=======\nResult=%d\n", result)
		}

	' # End of awk 
